*{
    padding: 0;
    margin: 0;
}
.education {
    margin: 12px;
    width: 95%;
}
table{
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif; 
    border-collapse:collapse;
    margin-top: 12px;
    width: 100%;
}
thead{
    padding: 12px auto;
}
tr{
     display: flex;
    justify-content: space-between;
    margin: 12px;
    gap: 12px;
    padding:10px;
} 
tbody{
    padding: 12px auto;
}
.contenthead{
    display: none;
}
.contentbody h4{
    color: gray;

}
th,td{
    margin-bottom: 12px !important;
    text-align: left;
    padding: 12px auto;
    border-bottom: 1px solid #660303;
}
@media screen and (max-width:765px){
     .education{
        display: grid; 
        }
    table{
      display: none;
    }
    .contenthead{
        display: grid;
        font-size: small;
        font-weight: 100;
        gap: 12px;
        padding-top: 12px;
    }
   .contentbody{
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
   }
    
    }
    
