*{
    padding: 0;
    margin: 0;
}
.education {
    justify-items: center;
    padding: 12px;
    margin: 25px auto;
}
.table{
    height: 100%;
    padding: 12px;
    margin: 50px auto;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif; 
    border-collapse:collapse;
}
thead{
    padding: 12px;
    font-weight: bold;
    text-align: left;  
}
tbody  {
    margin: 12px;
    padding: 12px;
}
th,td{
    padding: 12px;
    margin-bottom: 12px !important;
    text-align: left;
    border-bottom: 1px solid #ddd;
}