*{
    padding: 0;
    margin: 0;
}
.footer{
    display: flex;
    align-items: center;
    padding: 12px;
    width:auto;
    background-color: rgb(23, 126, 102);
}
.name{
    flex-grow: 1;
    font-style: oblique;
    animation:namertrans 2s ease ;
}
@keyframes namertrans {
    0%{
      opacity: 0;        
    }
    100%{
        transform: scaleX(90%);
    }
    
}
.owner{
    margin-right: 12px;
    font-weight: 100;

}
.footer button{
    padding: 12px;
    border: none;
    background-color: aqua;
    border: none;
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}