*{
    padding: 0;
    margin: 0;
}
.footer{
    display: flex;
    align-items: center;
    padding: 12px;
    width:auto;
    background-color: rgb(23, 126, 102);
}
.name{
    flex-grow: 1;
    font-style: oblique;
}
.name button{
    background-color: rgb(23, 126, 102);
    border: none;
    color: white;
    font-family: serif;
    font-size: 16px;
    cursor: pointer;
}
@keyframes namertrans {
    0%{
      opacity: 0;        
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: scaleX(90%);
    }
    
}
.owner{
    display:flex;
    align-items: center;
    gap: 12px;
}
.navupper {
    margin-left: 24px;}
.footer .navupper ol{
    /* display: flex; */
    list-style: none;
    text-decoration: none;
}
.footer .navupper li a{
    color: #fff;
}
.footer .navupper li a:hover{
    color: #00129d;
    border-bottom: 1px solid;
}
@media screen and  (max-width:765px) {
    .owner{
        display: none;
    }
}