.content{
    margin: 0 auto;
    padding-top: 24px;
}
.content h1{
    text-align: start;
    color: rgb(51, 24, 24);
    font-size: 2.5em;
    font-family: serif;
    margin-bottom: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    
}
.info p{
    font-size: 18px;
    color: rgb(101, 97, 97);
    text-align: center;
    margin: 12px auto;
    padding-top: 12px;
    width: 80%;
}
.info button{
    background-color: rgb(25, 143, 104);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 12px;
}
.profileImage{
    width:20em;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transform: scale(1.05);
    margin:  12px;
    border-bottom: 2px solid rgb(8, 14, 12);


}
.contentmain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
   padding: 12px;
}
.contentmain h3{
    padding-left:16px;
    margin-left: 12px;
    color:rgb(51, 24, 24);
    text-align: start;
    text-decoration: underline;
}


.contentmain p{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: start;
    color: rgb(104, 104, 104);
    text-transform: capitalize;
    font-size:large;

}
.profile2{
    width: 20em;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: block;
    transition: transform 0.3s ease;
    animation: aniimage 1s  ease 2s 1  ;
    transform:scaleX(1.05);
    border-bottom: 2px solid rgb(8, 14, 12);

}
.aboutcontent h2{
    padding: 12px;
    font-size: 2em;
    font-family: serif;
    margin: 0 auto;
    text-align: center;
    color: rgb(51, 24, 24);
}
.aboutcontent{
    border: 1px solid;
    margin: 20px auto;
    padding: 12px;
    border-radius: 12px;
    width: 90%;
}
.aboutinfo{
    display: grid;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    opacity: 0.9;
    
}
.aboutcontent p{
width: 90%;
text-indent: 2em;
font-variant: initial;
font-size: larger;
color: rgb(104, 104, 104);
    text-align: center;
    padding: 12px;
}
@keyframes aniimage {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
    
}