.reviewform{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding-bottom: 50px;
}
.reviewform form{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;    
    border-radius: 12px;
    text-align: center;
    margin: 20px auto;
    animation: formstep infinite ease-in-out 8s ;
}
.reviewform form input{
    width: 70%;
    border-radius: 12px;
    border: none;
    padding: 12px;
    outline:none;
}
.reviewform form button{
    border-radius: 12px;
    border: none;
    padding: 12px;
    width: 10%;
    margin: auto 40px;
    background-color: brown;
    font-size: medium;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
}
.reviewform form label{
    text-align: start;
    text-decoration: underline;
    font-size: large;
    font-weight: 600;
}
.reviewform form button:hover{
background-color: green;
text-decoration:line-through;
}
@keyframes formstep {
    0%{
    box-shadow: 0px 0px 20px 2px rgb(143, 50, 50);

    }
20%{
    box-shadow: 0px 0px 20px 2px grey;
}
50%{
    box-shadow: 0px 0px 20px 2px rgb(10, 155, 143);

}
100%{
    box-shadow: 0px 0px 20px 2px rgb(15, 110, 33);
}
}
