.section ol{
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
margin: 0 auto;
padding: 12px;
/* grid-template-columns:repeat(2,300px); */

}

.section ol li{
    list-style: none;
    border: 1px solid;
padding: 12px;
background-color: rgb(11, 12, 12);
border-radius: 12px;

}
.section{
    display: grid; 
    margin: 20px auto;
    border: 1px solid;
    border-radius: 12px;
    padding: 12px;
    width: 90%;

}
.section ol li:hover{
box-shadow: 2px 2px 12px rgb(2, 57, 61);

    transition: transform 0.3s ease-in 0.2s;
    transform: skew(6deg,5deg);

}
.contentbox h4{
    color: white;
}
.contentbox p{
    width: 300px;
    color: white;
}