*{
    margin: 0;
    padding: 0;
}
body.dark{
    background-color: black;
    color: white;
}
body.light{
    background-color: rgb(240, 232, 232);
    color: rgb(19, 18, 18);
}
@media (min-width:0px)and(max-width:480px) {
    .contentmain img{
        width: 25px;
    }
    .section ol{
        display: flex;
    flex-wrap: wrap;
    }  
}
@media (min-width:481px)and(max-width:850px) {
    .contentmain img{
        width: 105px;
    }
    .section ol{
        display: flex;
    flex-wrap: wrap;
    }   
}
